/*  Mobile menu  */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

@media only screen and (max-width:1015px) {
}

@media only screen and (min-width: 893px) and (max-width: 1024px){
}

@media only screen and (max-width:700px) {
	.desktop {display:none !important;}
	.mobile {display:block !important;}

	img.logo{margin-left: 10px;}
	ul.nav.menu {background-color: #4E52E7;position: absolute; top: 0;right: 0;width: 100%;height: auto;z-index: 1;transform: translateX(100%);transition: 0.5s;text-align: center;margin-top:0;box-shadow: 0px 0px 20px #333;display: none;height: 100vh;background-image: url('images/menu-image.png');background-repeat: no-repeat;background-position: center bottom;background-size: 100%;}
	ul.nav.menu.active {display:block;transform: translateX(0);transition: 0.5s;}
	ul.nav.menu .menu-listing {padding: 0;margin: 0;text-align: right;}
	ul.nav.menu li {display:block;width: auto;}
	ul.nav.menu li:first-of-type {margin-top: 100px;}
	ul.nav.menu li a {display: block;font-size: 1.5rem;height: 50px;line-height: 50px;padding: 0 20px;letter-spacing: 1px;text-decoration: none;transition: 0.5s;color: white;margin-top: 30px;}
	ul.nav.menu li a:hover { background-color: #262626;color: #fff;transition: 0.5s; }
	.burger {position: fixed;top: 0;right: 0;height: 17vw;width: 20vw;cursor: pointer;transition: 0.3s;z-index: 9999;}
	.burger span {position: absolute;height: 2px;width: 9vw;background-color: #000;top: 50%;left: 50%;transform: translate(-50%,-50%);max-width:50px;transition: 0.3s;}
	.burger span:before {content: '';position: absolute;top: -3vw;background-color: #000;height: 2px;width: 9vw;max-width:50px;transition: 0.3s;}
	.burger span:after {content: '';position: absolute;top: 3vw;background-color: #000;height: 2px;width: 9vw;max-width:50px;transition: 0.3s;}
	.burger.active span {background-color: transparent;}
	.burger.active span:before {transform: rotate(45deg);top: 0;background-color: #fff}
	.burger.active span:after {transform: rotate(-45deg);top: 0;background-color: #fff}
	footer .wrapper {flex-wrap: wrap;}
	footer .footer-column {width: 90vw;}
	footer .wp-block-column {flex-basis: auto !important;width: fit-content;flex-grow: 0;}
	footer .wp-block-column:nth-child(2),
	footer .wp-block-column:nth-child(4){margin-left: 15px;width: 100px;}
	footer .envi .wp-block-column:nth-child(2){width: fit-content;}
}



@media only screen and (max-width:500px) {

}