/*
Theme Name: Drew & Rose template
Author: James Hayes
Version: 1.0.0
*/
@import "styles/global.css";
@import "styles/header.css";
@import "styles/navigation.css";
@import "styles/footer.css";
@font-face {font-family: 'Branch-Regular';src: url('assets/fonts/BranchUpdated.woff') format('woff');}
@font-face {font-family: 'Optima';src: url('assets/fonts/OptimaMedium.woff') format('woff');}
