/*
font-family: 'Branch-Regular';
font-family: 'Optima';
*/
footer .wrapper{display: flex;justify-content: space-around;border-bottom: 1px solid #514895}
footer .footer-column{width: 45%}
footer h2 {font-family: 'Optima',sans-serif;font-size: 20px;font-weight: 500;border-bottom: 1px solid #514895;padding-bottom: 10px;}
footer .copywrite{text-align: center;}