/*
font-family: 'Branch-Regular';
font-family: 'Optima';
*/
body{font-family: 'Branch-Regular',sans-serif;font-weight: 400;font-style: normal;margin: 0 auto;font-size: 14px;line-height:24px;color:#1A3A68;}
a{color:#000;}
h1{font-weight: 600;text-transform: capitalize;font-size: 32px;font-family: 'Optima', serif;}
h2{font-weight: 600;font-size: 35px;font-family: 'Optima', serif;color: #272264;}
h3{font-weight: 400;font-family: 'Optima', serif;}
p.has-medium-font-size{font-size: 25px;}
img{height: auto;}

/* Quick alignments */
.wrapper,
.wp-block-group__inner-container,
.gimme-max-width{max-width: 900px;margin: 0px auto;}
.no-margin {margin: 0;}
.grey-background{background-color: #F5F5F5;padding: 40px 0;}

main{padding-top: 60px;}

ul.slick-dots {display: flex;flex-wrap: nowrap;}
.slick-dots li {width: 20px;}
.slick-dots li button {display: none;}
.slick-dots li::marker {color: #8E8E8E40;}
.slick-dots li.slick-active::marker {color: #8E8E8E;}


.mobile {display: none;}