/*
font-family: 'Branch-Regular';
font-family: 'Optima';
*/

header .wrapper{padding: 6px 0;display:flex;justify-content:space-between;align-items: center;}
header{box-shadow: 0 3px 6px #00000016;margin-bottom: 6px;position: fixed;z-index: 10;background-color: white;width: 100%;}
img.logo{width: 150px;margin-top: 5px}