/*
font-family: 'Branch-Regular';
font-family: 'Optima';
*/
nav {display:inline;}
ul.nav.menu{padding: 0;margin: 0;}
ul.nav.menu li {display: inline-block;width: 130px;vertical-align:top;}
ul.nav.menu li:last-of-type {width: auto;}
ul.nav.menu li a {text-decoration: none;font-size:17px;margin: 0 2px;font-weight: 400;color:#2A1F68;}
ul.nav.menu li a:hover,
ul.nav.menu li.current-menu-item a {color:#168CA3;}
ul.nav.menu li.menu-item-62 a {color:#168CA3;padding: 3px 25px;border:2px solid #168CA3;text-transform: capitalize;}